Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=iconsupportData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=iconsupportData
Author: ashikase <support@ashikase.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: IconSupport
Package: com.chpwn.iconsupport
Pre-Depends: firmware (>= 3.0), firmware (<< 11.0)
Depends: mobilesubstrate, firmware (>= 6.0) | jp.ashikase.bugfix.stuckpages, firmware (>= 6.0) | jp.ashikase.bugfix.duplicateicons
Section: Development
Version: 1.9.4
Architecture: iphoneos-arm
Description: Support library for safe icon tweaks.
Sponsor: thebigboss.org <http://thebigboss.org>
dev: ashikase
Tag: role::developer, purpose::extension
