Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=iconsupportData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=iconsupportData
Author: chpwn <chpwn@xuzz.net>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: IconSupport
Package: com.chpwn.iconsupport
Pre-Depends: firmware (>= 3.0)
Depends: mobilesubstrate
Section: Development
Installed-Size: 28
Version: 1.5
Architecture: iphoneos-arm
Description: Support library for safe icon tweaks.
Sponsor: thebigboss.org <http://thebigboss.org>
dev: chpwn
Tag: role::developer, purpose::extension
