Author: chpwn <infinidock@xuzz.net>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: IconSupport
Package: com.chpwn.iconsupport
Section: System
Pre-Depends: firmware (>= 3.0)
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Support library for safe icon tweaks.
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=iconsupportDp
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=iconsupportDp
Sponsor: thebigboss.org <http://thebigboss.org>
dev: chpwn
